{{#each items as |item|}}
<ul> data-id="{{item.id}}">


  <li h1 data-id="{{item.id}}"> <small>Item: {{item.name}}</small></h1></li>
<div>
<li>
  {{item.name}}
</li>
<li>
  {{item.quantity}}
</li>
<li>
  {{item.price }}
</li>
</ul>

</div>
<!--  Update Modal Starts Here -->
    <form class="update-form">
      <button type="button"  class="update-trigger-button btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Update Item
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateModalLabel">Update Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="update-form" data-id="{{item.id}}">
                 <div class="form-group">
                  <label for="formGroupExampleInput">Name</label>
                  <input name = "item[name]" value="{{item.name}}" type="text" data-id="{{post.id}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">Price</label>
                  <input name ="item[price]" value="{{item.price}}" data-id="{{item.id}}" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Quantity in Stock</label>
                  <input  name ="item[quantity]" class="form-control" type="text" data-id="{{item.id}}" value="{{item.quantity}}"></input>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" data-id="{{item.id}}"  class="update-submit-button btn btn-primary">Update</button>
            </div>
            </div>
          </div>
        </div>
</form>
</div> <br><br>
<!-- Delete Post  -->
  <button type="button" data-id="{{item.id}}" class="deleteButton btn btn-primary">Delete Item</button>

</form> <br>

  {{/each}}
